<!-- View Products -->
<section>
  <div class="container mt-5 pt-5">
    <div class="row d-flex justify-content-between my-4 ">
      <div class="col-12 text-center text-sm-start mb-3 mb-sm-0 col-sm-5 col-md-4 text-primary fw-bold fs-3 ps-0 pe-0">
        All Products
      </div>
      <a
        href="/admin/add-product"
        class="btn btn-outline-primary btn btn-outline-primary d-flex justify-content-center align-item-center p-2 col-12 col-sm-3 col-lg-2 fw-bold"
        >Add Products</a
      >
    </div>
    <div class="row">
      <table class="table table-hover">
        <thead class="text-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">category</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((product)=>{%>
          <tr>
            <th scope="row"><%=product.no%></th>
            <td><%=product.Name%></td>
            <td>
              <img
                style="width: 50px; height: 50px"
                src="/product-images/<%=product._id%>.jpg"
                alt=""
                srcset=""
              />
            </td>
            <td><%=product.Category%></td>
            <td style="width: 500px"><%=product.Description%></td>
            <td><%=product.Price%></td>
            <td>
              <a href="/admin/edit-product/<%=product._id%>" class="btn btn-outline-primary d-flex justify-content-center align-item-center p-1 my-2">Edit</a>
              <a href="/admin/delete-product/<%=product._id%>" class="btn btn-outline-danger d-flex justify-content-center align-item-center p-1 my-2" onclick="return confirm('Are you want to delete <%=product.Name%>')">Delete</a>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
  </div>
</section>
